{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{% static 'site/bootstrap/css/bootstrap.css' %}" rel="stylesheet" id="bootstrap-css">
    <link href="{% static 'site/custom/css/login.css' %}" rel="stylesheet" id="bootstrap-css">
    <script src="{% static 'site/bootstrap/js/bootstrap.min.js' %}"></script>
    <!------ Include the above in your HEAD tag ---------->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Login</title>
</head>
<body>

<div class="login-wrap">
    <div class="login-html">
        <form action="{% url 'customer:customerlogin' %}" name="frm_student" method="POST">
            {% csrf_token %}
            <!--Prevents cross site scripting-->
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
        <input id="tab-2" type="radio" name="tab" class="for-pwd">
        <label for="tab-2" class="tab"></label>
        <div class="login-form">
            <div class="sign-in-htm">
                <div class="group">
                    <label for="user" class="label">Phone Number</label>
                    <input type="text" id="MobileNo" name="mobileNo" value="">
                </div>
                <div class="group">
                    <label for="pass" class="label">Pin</label>
                    <input type="password" id="Pin" name="pin" value="">
                </div>
                <div class="group">
                    <input type="submit" value="Submit" class="form-control btn btn-success " name="">
                </div>
                <div class="hr"></div>
                <div>
                    {% for message in messages %}
                    {{message}}
                    {% endfor %}
                </div>
            </div>
        
            </div>
        </div>
       
     </form>
    </div>
</div>

</body>