<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>customers</title>
</head>
<body>
    <h1>Customers</h1>
    <table border="2px">
        <tr>
            <th>Id</th>
            <th>Customer Name</th>
            <th>Id Number</th>
            <th>Phone Number</th>
        </tr>
    {% for customer in all_customers %}
    <tr>
        <td> <a href="{{customer.id}}/">{{customer.id}}</a> </td>
        <td>{{customer}}</td>
        <td>{{customer.idNumber}}</td>
        <td>{{customer.mobileNo}}</td>
    </tr>
    {% endfor %}
    </table>
    <p><a href="{% url 'index:home' %}">Home</a></p>
</body>
</html>