{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link href="{% static 'site/bootstrap/css/bootstrap.css' %}" rel="stylesheet" id="bootstrap-css">
    <link href="{% static 'site/custom/css/login.css' %}" rel="stylesheet" id="bootstrap-css">
    <script src="{% static 'site/bootstrap/js/bootstrap.min.js' %}"></script>
    <!------ Include the above in your HEAD tag ---------->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
</head>

<body>

    <div class="login-wrap">
        <div class="login-html">
            {% for message in messages %}
            {{message}}
            {% endfor %}
            <p style="color:cornsilk"><a href="{% url 'customer:customerlogin' %}">Click here to Login</a> </p>
        </div>

        


    </div>

    </div>

</body>