{% extends 'base/page_container.html' %}
{% block content %}
<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Account Balance </h6>

    </div>
</div>
    <div class="container">

    <div class="main">

            <div class="main-center">
                <h5>Your Account Information</h5>
                <p>Account Name : {{account_info.customer_id}}</p>
                <p>Account Name : {{account_info.accountName}}</p>
                <p>Balance : {{account_info.currency_id}} {{account_info.accountBalance}}</p>
                <p>Account Type : {{account_info.accountType}}</p>
     
            </div>
                
                </div>

{% endblock %}