{% extends 'base/page_container.html' %}
{% block content %}
<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Deposit Successful </h6>

    </div>
</div>
    <div class="container">
        <div class="main">
            <div class="main-center">
            <p>{{customer_account_currency}} {{amount}} deposited in Account {{customer_account_number}}.
               Thank you.
            </p>
         
            </div>
            <!--main-center"-->
        </div>
        <!--main-->
    </div>
{% endblock %}