{% extends 'base/page_container.html' %}
{% block content %}
<div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Money Sent </h6>

    </div>
</div>
        <div class="main">
            <div class="main-center">

                <p>Dear {{sender_name}}, You have sent {{senderAccountCurrency}}.{{amount}}
                    to {{receiverName}} of account {{confirmedReceiverAccount}}.
                     Your New Balance is : {{senderAccountCurrency}} {{newSenderBalance}}.Transaction Fees is {{senderAccountCurrency}} {{transactionFees}}
                     Thank you
                    <p>
           
            </div>
            <!--main-center"-->
        </div>
        <!--main-->
{% endblock %}