{% extends 'base/page_container.html' %}

{% block content %}
<div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Send Money</h6>

    </div>
</div>

<div class="main container-fluid">
    <div class="main-center container">
        
        <h5>Please fill in below details</h5>
        <form class="" method="post" action="">
            {% csrf_token %}
        <div class="form-group">
            <label for="selectAccount">Select Account</label>
            <select class="form-control" id="accounts" name="accounts">
                {% for account in accounts %}
                <option value="{{account.id}}">{{account.accountNumber}}</option>
                {% endfor %}
                
            </select>
                    <div class="form-group">
                        <label for="amount">Amount</label>
                        <div class="input-group">
                      
                            <input type="number" class="form-control" name="amount" placeholder="Enter Amount" />
                        </div>
                    </div>


            <div class="form-group">
                <label for="username">To :</label>
                <div class="input-group">
                  
                    <input type="number" class="form-control" name="receiverAccount" placeholder="Enter Receiver Account" />
                </div>
            </div>

            <div class="form-group">
                <label for="password">Pin</label>
                <div class="input-group">
                  
                    <input type="password" class="form-control" name="password" placeholder="Enter Pin" />
                </div>
            </div>

            <button type="submit">SUBMIT</button>
        <a href="/profile/{{customer_id}}" style="color:#fff;">Try again</a>
        {% for message in messages %}
        {% if "receiver_Account" in message.tags %}
        <p> {{message}} </p> {# show receiver account error message #}
        {% endif %}
        {% endfor %}
        {% for message in messages %}
        {% if "InsufficientFunds" in message.tags %}
        <p> {{message}} </p> {# show insufficient funds error message #}
        {% endif %}
        {% endfor %}
        {% for message in messages %}
        {% if "pin_error" in message.tags %}
        <p> {{message}} </p> {# show wrong pin error message #}
        {% endif %}
        {% endfor %}
    </form>
        
    </div>
    <!--main-center"-->
</div>

{% endblock %}
