{% extends 'base/page_container.html' %}
{% block content %}

<div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Your Transactions</h6>

    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Credit</th>
            <th scope="col">Debit</th>
            <th scope="col">Transaction Fees</th>
            <th scope="col">Outstanding Balance</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in customertransactions %}
        <tr>
            <td>{{transaction.date}}</td>
            <td>{{transaction.cashIn}}</td>
            <td>{{transaction.cashOut}}</td>
            <td>{{transaction.transactionFee}}</td>
            <td>{{transaction.balance}}</td>
        </tr>
        {% endfor %}

        
    </tbody>
</table>

</div>



</body>

{% endblock %}