{% extends 'base/page_container.html' %}
{% block content %}
<div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Withdraw Successful </h6>

    </div>
</div>
        <div class="main">
            <div class="main-center">
                <p>Dear {{customerAccountName}}, You have withdrawn {{account_currency}} {{amount}}.
                    Your New Balance is : {{account_currency}} {{new_account_balance}}.
                    Transaction fee is {{account_currency}} {{transactionFees}}. 
                    Thank you
                    <p>
         
            </div>
            <!--main-center"-->
        </div> 
{% endblock %}
