{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link href="{% static 'site/bootstrap/css/bootstrap.css' %}" rel="stylesheet" id="bootstrap-css">
    <link href="{% static 'site/custom/css/login.css' %}" rel="stylesheet" id="bootstrap-css">
    <script src="{% static 'site/bootstrap/js/bootstrap.min.js' %}"></script>
    <!------ Include the above in your HEAD tag ---------->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff Login</title>
</head>

<body>

    <div class="login-wrap">
        <div class="login-html">
           <H1>Welcome to the Pan African Peter's Bank</H1>
<p><a href="{% url 'customer:customerlogin' %}" style="color: brown;">Customer Login</a></p>
<p><a href="{% url 'customer:stafflogin' %}">Staff Login</a></p>
<p>Dont have an account ? <a href="{% url 'customer:register' %}"> Register </a></p>
    </div>

    </div>

</body>


